*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

.header{
    width: 100rem;
    background-color: black;
}
header{
    background-color: rgb(19, 25, 33);
    height: 60px;
}

.container{
    width: 98%;
    height: 100%;
    margin: auto;
}

.logo .container{

}

.logo2{
    margin-left: -4rem;
    background: no-repeat;
   width: 100px;
   height: 50px;
}

.addresh-container{
    display: flex;
    color: white;
    margin-top: -3rem;
    margin-left: 1rem;
}

.cccc{
    width: 25rem;
    margin-left: 23rem;
    margin-top: -3rem;
}

.imgg2{
    width: 20px;
    margin-top: -1rem;
    margin-left: 25rem;
}
.pttt{
    margin-top: -2rem;
    color: white;
    margin-left: 27rem;
}

.hhhe{
    display: flex;
    color: white;
    margin-left: 56rem;
    margin-top: -3rem;
}

.tages{
    text-decoration: none;
    color: white;
    margin-top: -4.3rem;
    margin-left: 70rem;
}

.car{
    text-decoration: none;
    margin-left: 79rem;
    color: white;
    margin-top: -4.3rem;
}

.card{
    background-color: rgb(38, 15, 54);
    height: 60px;
}

.pptt{
    text-decoration: none;
    color: white;
    margin-top: 8px;
    margin-left: 2rem;
}

.ama{
    margin-top: -1.2rem;
    text-decoration: none;
    color: white;
    margin-left: 4rem;
}

.bet{
    margin-left: 8rem;
    margin-top: -1.2rem;
   color: #ffff;
   text-decoration: none;
}

.mob{
    margin-left: 11rem;
    margin-top: -1.2rem;
    color: #ffff;
    text-decoration: none;
}

.cus{
    margin-left: 13rem;
    margin-top: -1.2rem;
    color: #ffff;
    text-decoration: none;
}

.tod{
    margin-left: 35rem;
    margin-top: -1.8rem;
    color: #ffff;
    text-decoration: none;
}

.ele{
    margin-left: 42rem;
    color: white;
    margin-top: -1.2rem;
    text-decoration: none;
}

.pri{
    margin-left: 48rem;
    color: white;
    margin-top: -1.2rem;
    text-decoration: none;
}

.fas{
    margin-left: 52rem;
    color: white;
    margin-top: -1.2rem;
    text-decoration: none;
}

.amaz{
    margin-left: 57rem;
    color: white;
    margin-top: -1.2rem;
    text-decoration: none;
}

.ipp{
    height: 550px;
}

.bbnn{
    height: 220px;
    margin-top: -13rem;
}