*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

.header{
    width: 100rem;
    background-color: black;
}
header{
    background-color: rgb(19, 25, 33);
    height: 60px;
}

.container{
    width: 98%;
    height: 100%;
    margin: auto;
}

.logo .container{

}

.logo2{
    margin-left: -4rem;
    background: no-repeat;
   width: 100px;
   height: 50px;
}

.addresh-container{
    display: flex;
    color: white;
    margin-top: -3rem;
    margin-left: 1rem;
}

.cccc{
    width: 25rem;
    margin-left: 23rem;
    margin-top: -3rem;
}

.imgg2{
    width: 20px;
    margin-top: -1rem;
    margin-left: 25rem;
}
.pttt{
    margin-top: -2rem;
    color: white;
    margin-left: 27rem;
}

.hhhe{
    display: flex;
    color: white;
    margin-left: 56rem;
    margin-top: -3rem;
}

.tages{
    text-decoration: none;
    color: white;
    margin-top: -4.3rem;
    margin-left: 70rem;
}

.car{
    text-decoration: none;
    margin-left: 79rem;
    color: white;
    margin-top: -4.3rem;
}

.card{
    background-color: rgb(38, 15, 54);
    height: 60px;
}

.pptt{
    text-decoration: none;
    color: white;
    margin-top: 8px;
    margin-left: 2rem;
}

.ama{
    margin-top: -1.2rem;
    text-decoration: none;
    color: white;
    margin-left: 4rem;
}

.bet{
    margin-left: 8rem;
    margin-top: -1.2rem;
   color: #ffff;
   text-decoration: none;
}

.mob{
    margin-left: 11rem;
    margin-top: -1.2rem;
    color: #ffff;
    text-decoration: none;
}

.cus{
    margin-left: 13rem;
    margin-top: -1.2rem;
    color: #ffff;
    text-decoration: none;
}

.tod{
    margin-left: 35rem;
    margin-top: -1.8rem;
    color: #ffff;
    text-decoration: none;
}

.ele{
    margin-left: 42rem;
    color: white;
    margin-top: -1.2rem;
    text-decoration: none;
}

.pri{
    margin-left: 48rem;
    color: white;
    margin-top: -1.2rem;
    text-decoration: none;
}

.fas{
    margin-left: 52rem;
    color: white;
    margin-top: -1.2rem;
    text-decoration: none;
}

.amaz{
    margin-left: 57rem;
    color: white;
    margin-top: -1.2rem;
    text-decoration: none;
}

.ipp{
    height: 550px;
}

.bbnn{
    height: 220px;
    margin-top: -13rem;
}

.ppoo{
    display: flex;
}

.sectionimg1{
    font-size: medium;
    margin-top: -20rem;
    margin-left: 2rem;
}

.patat{
    color: blue;
    text-decoration: none;
}

.sectionimg2{
    width: 50rem;
    height: 50rem;
    margin-top: -19rem;
    font-size: medium;
    margin-left: 30rem;
}

.h3tt{
    font-size: medium;
}

.sectionimg3{
    margin-top: -50rem;
    margin-left: 48rem;
}

.hooo{
    font-size: medium;
}

.aio{
    color: blue;
    text-decoration: none;
}

.sectionimg4{
    margin-top: -15rem;
    margin-left: 68rem;
}

.long{
    color: #000;
    background-color: yellow;
}

.imgsection{

    margin-top: 13rem;
    margin-left: 1rem;
}

.up{
    font-size: medium;
    margin-left: 15px;
}
.ex{
    text-decoration: none;
    color: #000;
}

.photosd{
    margin-left: 30rem;
}


.poll{
    width: 25rem;
}
.tools{
    font-size: medium;
    margin-top: -22rem;
}

.srr{
    color: #000;
    text-decoration: none;
}

.naaa{
    width: 25rem;
    height: 25rem;
    margin-left: 57rem;
    margin-top: -29rem;
}

.top{
    margin-top: 5rem;
    margin-left: 3rem;
}

.ckdo{
    display: flex;
}

.bvb{
    margin-top: 2rem;
    margin-left: 3rem;
}

.fgh{
    font-size: medium;
}

.hre{
    margin-top: 3rem;
    color: #000;
}

.wweo{
    margin-left: 2rem;
    font-size: medium;
}

.aaa{
    text-decoration: none;
}

.hv{
    text-align: center;
    margin-top: 4rem;
    font-weight: bold;
}

.htl{
    margin-left: 20rem;
}

.htlo{
    background-color: yellow;
    text-align: center;
    color: #000;
    padding: 8px 10px ;
    margin-left: 20rem;
}

.tera{
    display: flex;
    margin-left: 38rem;
}

.hppp{
    text-decoration: none;
}

.fooT{
    background-color: rgb(35, 47, 62);
}

.zxzx{
    margin-left: 8rem;

}


.nextfoo{
    margin-top: -2rem;
    height: 50%;
    background-color: rgb(35, 47, 62);
}


.zon{
    color: #ffff;
    margin-left: 40rem;
    margin-top: rem;
}

.town{
    text-decoration: none;
    color: #ffff;
    margin-left: 5rem;
}

.flast{
    margin-top: -2.9rem;
    background-color: rgb(19, 34, 26);
}

.voon{
    margin-left: 5rem;
    margin-top: 3rem;
    font-size: smaller;
}

.voony{
    font-size: smaller;
    margin-left: 8rem;
    margin-top: -3.5rem;
}

.voonk{
    margin-left: 14rem;
    margin-top: -3.5rem;
}

.voonko{
    margin-top: -3.5rem;
    margin-left: 15rem;
    font-size: smaller;
}

.bbb{
    text-decoration: none;
    color: #DDD;
    font-size: small;
    margin-left: 3rem;
    margin-top: 3rem;
}

.inc{
    margin-left: 5rem;
}